@model CloudQuiz.Models.ApplicationUser

@{
    ViewBag.Title = "Главная страница";
}


@if (Request.IsAuthenticated)
{
    <h1 class="text-center">Викторины</h1>
    <hr />
    <div class="row">
        @foreach (var item in Model.Quizzes)
        {
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">@item.QuizName</div>
                    <div class="panel-body">
                        <p>Описание: @item.QuizDescription</p>
                        <p>Количество вопросов: @item.Questions.Count()</p>
                        <p>Длительность: @item.QuizDuration</p>
                    </div>
                    <div class="panel-footer">
                        @Html.ActionLink("Начать", "StartQuiz", new { id = item.QuizId })
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="jumbotron">
        <h1>CloudQuiz</h1>
        <p class="lead">Для прохождения викторин пожалуйста войдите или зарегистрируйтесь.</p>
        <p>
            <a href=@Url.Action("Login", "Account") class="btn btn-primary btn-lg">Войти</a>
            <a href=@Url.Action("Register", "Account") class="btn btn-primary btn-lg">Регистрация</a>
        </p>
    </div>
}