@model CloudQuiz.Models.Question

@{
    ViewBag.Title = "Вопрос";
}

<h2>Вопрос</h2>

<div>
    <hr />
    <div class="row">
        <a class="btn btn-primary" href=@Url.Action("EditQuestion", new { id = Model.QuestionId })>Редактировать</a>
        <a class="btn btn-primary" href=@Url.Action("CreateChoice", new { qid = Model.QuestionId })>Создать вариант ответа</a>
        <a class="btn btn-default" href=@Url.Action("DetailsQuiz", new { id = Model.QuizId })>Назад</a>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionDescription)
        </dd>

        @if (Model.QuestionImage != null)
        {
            <dt>
                @Html.DisplayName("Изображение")
            </dt>

            <dd>
                @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.QuestionImage) + "\" />")
            </dd>
        }

        <dt>
            @Html.DisplayName("Викторина")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quiz.QuizName)
        </dd>

    </dl>
</div>

<h3>Варианты ответа</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Название")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Choices)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChoiceText)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "EditChoice", new { id = item.ChoiceId }) |
                @Html.ActionLink("Удалить", "DeleteChoice", new { id = item.ChoiceId })
            </td>
        </tr>
    }
</table>
